<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- used to store credentials -->
  <!-- Used to specify which one of the sources are active -->
  <!-- Used to disable package sources  -->
  <!-- 
  Used to specify default API key associated with sources. 
  See: NuGet.exe help setApiKey
  See: NuGet.exe help push
  See: NuGet.exe help mirror
  -->
  <!-- 
	<packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  -->
  
  <packageSources>
	<clear />
    <add key="OpenPublishingService-Mirror" value="https://apidrop.pkgs.visualstudio.com/6fb8cb7d-5623-420c-946b-ca74e63ac8ba/_packaging/OpenPublishingService-Mirror/nuget/v3/index.json" />
  </packageSources>
</configuration>
