<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SplitFolder" value="docs-ref-autogen"/>
    <!--<add key="SplitFolder" value="docs-ref-autogen"/>-->
    <add key="WorkPath" value="C:\Working\RestProcessor\RedirectSourceMapping\Source"/>
    <!--<add key="WorkPath" value="C:\repos\apex\RestProcessor\RedirectSourceMapping\Source"/>-->
    <add key="PublishPrefix" value="https://review.docs.microsoft.com/en-us"/>
    <!--<add key="PublishPrefix" value="https://review.docs.microsoft.com/en-us"/>-->
    <add key="PublishSuffix" value="?branch=main"/>
    <!--<add key="PublishSuffix" value="?branch=master"/>-->
  </appSettings>
</configuration>